/* Font  */
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.dark-2 {
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 18px 35px;
    border-radius: 5px;
}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description {
    font-size: 18px;
    color: #757575;
}
.text-center{
    text-align: center;
}
main section{
    margin-top: 130px;
}


/* header */

.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: #FFF8F3;
}


/* Nav Style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 150px;
}

nav ul {
    display: flex;
    align-items: center;

}

.title {
    font-weight: 900;
    font-size: 45px;
}

nav ul li {
    list-style: none;
    margin: 20px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}


/* Banner */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 10px 150px;
}

.banner-contant {
    max-width: 580px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-weight: bold;
}

.banner-description {
    font-size: 18px;
    font-weight: normal;
}

.banner-pic {
    width: 580px;
}

/* main part */

main {
    max-width: 1140px;
    margin: 0 auto;

}

/* about  */

.about {
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-title{
    color: #757575;
}
.item-description{
    font-weight: bold;
}

/* Skill section */
.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px #e0dede;
}
.skill-container{
    margin-top: 50px;
}

/* Resume style */

.section-title{
    text-align: center;
    margin-top: 130px;
    margin-bottom: 115px;
}
.resume-container{
    display: flex;
    gap: 24px;
}

.resume-colum-title{
    color: #474747;
    font-size: 30px;
    font-weight: bold;
}
.experience-title{
    color: #474747;
    font-size: 25px;
    font-weight: bold;
}
.experiance-sub-title{
    color: #757575;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.experiance-description{
    color: #757575;
    font-size:18px;
    font-weight: 200;
}
.resume-button{
    margin-top: 50px;
}
